@import "./fonts.css";


body {
  width: 100%;
  height: 100%;
  text-align: left;
}

.swiper {
  width: 90vw;
  height: 85vh;
}

.swiper-slide.slider-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo_mondelez {
  width: 70%;
  margin-bottom: 1em;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column !important;

  justify-content: center !important;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}

.swiper-slide:nth-child(1) {
  background: #4F2170;
}

.swiper-slide.dv_1,
.swiper-slide .dv_1 {
  background: #E1872B;
}

.swiper-slide.dv_2,
.swiper-slide .dv_2 {
  background: #569DCA;
}

.swiper-slide.dv_3,
.swiper-slide .dv_3 {
  background: #809D10;
}

.swiper-slide.dv_4,
.swiper-slide .dv_4 {
  background: #D30000;
}

.swiper-slide.dv_5,
.swiper-slide .dv_5  {
  background: #4F2170;
}

.swiper-slide.dv_back {
  background: #00000f;
}

.swiper-slide .title{
  letter-spacing: 1px;
}

.tl_1 {
  color: #E1872B;
}

.tl_2 {
  color: #569DCA;
}

.tl_3 {
  color: #809D10;
}

.tl_4 {
  color: #D30000;
}


.swiper-slide.divisor {
  /* background-image: url("../images/Fondo para postcards.svg"); */
  color: #fff;
  letter-spacing: 5px;
}

.swiper-slide {
  background-color: #f7f7f7;
}

h2,
h3,
h4,
h5,
h6,
p {
  padding: 0 2em;
  margin: 0 0 10px;
}

h5 {
  font-family: "MyriadPro-Regular";
}

b {
  font-family: "MyriadPro-Bold";
  font-weight: 900;
}

.swiper-slide>h3 {
  font-family: "Mondelez-Regular";
  text-align: center;
}

.swiper-slide>h6 {
  font-family: "MyriadPro-Bold";
  text-align: center;
}

.swiper-slide>h4 {
  text-align: left;
}

.swiper-slide:nth-child(1)>h3 {
  color: #f7f7f7;
}

.swiper-slide>p,
.swiper-slide>ol,
.swiper-slide>ul {
  font-family: "MyriadPro-Light";
  font-size: 0.7em;
}

.swiper-slide>ol,
.swiper-slide>ul {
  padding-right: 2em;
}

.swiper-slide>ol b .swiper-slide>ul b {
  font-family: "MyriadPro-Bold";
}

.swiper-slide .content-swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Mondelez-Regular";
  color: #fffffe;
  text-decoration: none;
}

.swiper-slide .content-swiper h3,
.swiper-slide .content-swiper h6 {
  margin: 0;
}

.swiper-slide .text-slider-header {
  margin-top: 5px;
  padding: 10px;
  font-family: "MyriadPro-Light";
  font-size: 0.8rem;
  text-align: left;
  letter-spacing: 0px;
  color: #f7f7f7;
  /* background: #f7f7f7; */
}

.color-oro {
  color: #00000f;
  background: #efb810;
}

.color-plata {
  color: #00000f;
  background: #e3e4e5;
}

.color-bronce {
  color: #00000f;
  background: #bf8970;
}

ol li::marker {
  font-family: "MyriadPro-Bold";
}


/* Morado: 4F2170

Azul: 569DCA

Naranja Quemado: E1872B

Rojo: D30000

Verde: 809D10 */